<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>PPG</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="styles/styles.css" />
    <link rel="stylesheet" href="styles/side-bar.css" />
    <link rel="stylesheet" href="styles/workspace.css" />
    <link rel="stylesheet" href="styles/top-bar.css" />
    <link rel="stylesheet" href="styles/growth.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="growth.js" defer></script>
    <script src="side-bar.js" defer></script>
    <script src="top-bar.js" defer></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
      integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <main>
      <div id="side-bar">
        <div v-if="isShown" class="side-bar">
          <img class="logo" src="styles/logo.webp" alt="logo" />
          <button onclick="window.location.href='index.html';">
            &#9733; Dashboard
          </button>
          <button onclick="window.location.href='manage-skills.html';">
            &#9733; Manage skills
          </button>
          <button onclick="window.location.href='my-account.html';">
            &#9733; My account
          </button>
          <button-active onclick="window.location.href='growth.html';">
            &#9733; Growth
          </button-active>
          <button onclick="window.location.href='register.html';">
            &#9733; Add worker
          </button>

          <button v-on:click="toggleMenu()">Toggle Menu</button>
        </div>

        <div v-else class="side-bar2">
          <img src="styles/logo.webp" alt="logo" />
          <img
            src="styles/dashboard.png"
            alt="logo"
            onclick="window.location.href='index.html';"
          />
          <img
            src="styles/star.png"
            onclick="window.location.href='manage-skills.html';"
            alt="logo"
          />
          <img
            src="styles/person.png"
            alt="logo"
            onclick="window.location.href='my-account.html';"
          />
          <img
            src="styles/growth.png"
            alt="logo"
            style="background-color: rgb(131, 197, 232)"
          />
          <img
            src="styles/star.png"
            alt="logo"
            onclick="window.location.href='register.html';"
          />
          <img v-on:click="toggleMenu()" src="styles/star.png" alt="logo" />
        </div>
      </div>

      <div class="workspace-body">
        <div class="user-bar" id="top-bar">
          <img class="user-bar-logo" src="styles/avatar.jpg" alt="avatar" />
          <div class="dropdown">
            <name-surname v-for="employee in employeeData">
              {{employee.first_name}} {{employee.second_name}}></name-surname
            >
            <!-- <div class="dropdown-content">
              <img
                class="user-bar-logo"
                src="styles/avatar.jpg"
                alt="avatar"
                style="border-radius: 50%; background-color: transparent"
              />
              <input type="text" placeholder="Login ID" class="login-info" />
              <input type="text" placeholder="password" class="login-info" />
              <button>Login</button>
              <button>Forgot password</button>
            </div> -->
          </div>
        </div>

        <div class="workspace" id="growth">
          <div class="growth">
            <left-side>
              <button v-on:click="isPopupOpen = true">Schedule Growth</button>
              <div class="popup" v-if="isPopupOpen">
                <p class="popup-title">Schedule Growth</p>
                                  <select name="skills" id="skills" v-model="formSkill">
                    <option value="" disabled selected>Skill</option>
                    <option
                      v-for="skill in skills.data"
                      v-bind:value="skill.skill_id"
                    >
                      {{skill.name}}
                    </option>
                  </select>
                                    <select name="level" id="level"  v-model="formLevel"required>
                    <option value="" disabled selected>Level</option>
                    <option
                      v-for="level in levels"
                      :value="level"
                    >
                      {{level}}
                    </option>
                  </select>
                  <label
                    >To:
                    <input
                      type="date"
                      id="growth-end"
                      name="end_date"
                      required
                      v-model="formDate"
                    />
                  </label>
                  <button v-on:click="putData()" @click="isPopupOpen = false">Report</button>
                  <button @click="isPopupOpen = false">
                    Close
                  </button>
              </div>
              <button v-on:click="isPopupOpenDel= true">delete data</button>
               <div class="popup" v-if="isPopupOpenDel">
                <p class="popup-title">del</p>
                                  <select name="growth" id="growth" v-model="delData">
                    <option value="" disabled selected>Growth</option>
                    <option
                      v-for="grow in growth.data"
                    >
                      {{grow.growth_id}}
                    </option>
                  </select>
                  <button v-on:click="deleteData()" @click="isPopupOpenDel= false">Report</button>
                  <button @click="isPopupOpenDel= false">
                    Close
                  </button>
              </div>
            </left-side>
            <right-side>
              <div
                v-for="(object, index) in growth.data"
                style="flex: 1; display: flex"
              >
                <div
                  style="
                    color: white;
                    background-color: rgb(0, 112, 171);
                    padding-bottom: 5px;
                    margin-top: 1px;
                  "
                  v-bind:style="barSize(index)"
                >
                  {{object.growth_id}} ===> {{object.skill_name}}
                  {{object.level}}
                </div>
              </div>

              <bottom-bar>
                <li style="flex: 1" v-for="q in qInTable">{{q}} |</li>
              </bottom-bar>
            </right-side>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
