<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PPG </title>

    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/side-bar.css">
    <link rel="stylesheet" href="styles/workspace.css">
    <link rel="stylesheet" href="styles/top-bar.css">
    <link rel="stylesheet" href="styles/manage-skills.css">
        <script src="https://unpkg.com/vue@next" defer></script>
    <script src="side-bar.js" defer></script>
    <script src="top-bar.js" defer></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
      integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <main>
        <div id="side-bar">
        <div v-if="isShown" class="side-bar">

        <img class="logo" src="styles/logo.webp" alt="logo" />
        <button onclick="window.location.href='index.html';"
          >&#9733; Dashboard</button
        >
        <button-active onclick="window.location.href='manage-skills.html';">
          &#9733; Manage skills
        </button-active>
        <button onclick="window.location.href='my-account.html';">
          &#9733; My account
        </button>
        <button onclick="window.location.href='growth.html';">
          &#9733; Growth
        </button>
        <button onclick="window.location.href='register.html';">
          &#9733; Add worker
        </button>

        <button v-on:click="toggleMenu()">Toggle Menu</button>
        </div>

        <div v-else class="side-bar2">
          <img src="styles/logo.webp" alt="logo"/>
          <img src="styles/dashboard.png" alt="logo" onclick="window.location.href='index.html';"/>
          <img src="styles/star.png" onclick="window.location.href='manage-skills.html';" alt="logo" style="background-color:  rgb(131, 197, 232);"/>
          <img src="styles/person.png" alt="logo" onclick="window.location.href='my-account.html';" />
          <img src="styles/growth.png" alt="logo" onclick="window.location.href='growth.html';"/>
          <img src="styles/star.png" alt="logo" onclick="window.location.href='register.html';"/>
          <img v-on:click="toggleMenu()" src="styles/star.png" alt="logo" />
        </div>
      </div>

      <div class="workspace-body">
        <div class="user-bar" id="top-bar">
          <img class="user-bar-logo" src="styles/avatar.jpg" alt="avatar" />
          <div class="dropdown">
            <name-surname v-for="employee in employeeData"> {{employee.first_name}} {{employee.second_name}}></name-surname>
            <!-- <div class="dropdown-content">
              <img
                class="user-bar-logo"
                src="styles/avatar.jpg"
                alt="avatar"
                style="border-radius: 50%; background-color: transparent"
              />
              <input type="text" placeholder="Login ID" class="login-info" />
              <input type="text" placeholder="password" class="login-info" />
              <button>Login</button>
              <button>Forgot password</button>
            </div> -->
          </div>
        </div>




          
    <div class="workspace">
      <manage-skills>
        <div class="manage-skills">
          <content>
            <label>
              &#9733; Register skill
            </label>

            <select name="pets" id="pet-select">
                <option value="">Register Skill</option>
                <option value="dog">Dog</option>
                <option value="cat">Cat</option>
                <option value="hamster">Hamster</option>
                <option value="parrot">Parrot</option>
                <option value="spider">Spider</option>
                <option value="goldfish">Goldfish</option>
            </select>

            <select name="pets" id="pet-select">
              <option value="">Lvl</option>
              <option value="dog">Dog</option>
              <option value="cat">Cat</option>
              <option value="hamster">Hamster</option>
              <option value="parrot">Parrot</option>
              <option value="spider">Spider</option>
              <option value="goldfish">Goldfish</option>
          </select>
        <div class="label-input">
          <input type="checkbox" id="checkamark1" name="checkamark1" value="false">
          <checkbox-label for="vehicle1"> I confirm that i'm on that level off the skill</checkbox-label><br>
        </div>
        <button>confirm</button>
          </content>

          <content>            <label>
            &#9733; Change Lvl
          </label>

          <select name="pets" id="pet-select">
              <option value="">Change lvl</option>
              <option value="dog">Dog</option>
              <option value="cat">Cat</option>
              <option value="hamster">Hamster</option>
              <option value="parrot">Parrot</option>
              <option value="spider">Spider</option>
              <option value="goldfish">Goldfish</option>
          </select>

          <select name="pets" id="pet-select">
            <option value="">New Lvl</option>
            <option value="dog">Dog</option>
            <option value="cat">Cat</option>
            <option value="hamster">Hamster</option>
            <option value="parrot">Parrot</option>
            <option value="spider">Spider</option>
            <option value="goldfish">Goldfish</option>
        </select>
      <div class="label-input">
        <input type="checkbox" id="checkamark1" name="checkamark1" value="false">
        <checkbox-label for="vehicle1"> I confirm that i'm on that level off the skill</checkbox-label><br>
      </div>
      <button>confirm</button>
        </content>
          <content>            <label>
            &#9733; Resign of skill
          </label>

          <select name="pets" id="pet-select">
              <option value="">Skill name</option>
              <option value="dog">Dog</option>
              <option value="cat">Cat</option>
              <option value="hamster">Hamster</option>
              <option value="parrot">Parrot</option>
              <option value="spider">Spider</option>
              <option value="goldfish">Goldfish</option>
          </select>
          <select name="none" id="none" style="background-color: transparent;">
            
          </select>

      <div class="label-input">
        <input type="checkbox" id="checkamark1" name="checkamark1" value="false">
        <checkbox-label for="vehicle1"> I confirm that i'm on that level off the skill</checkbox-label><br>
      </div>
      <button>confirm</button>
        </content>
        </div>
      </manage-skills>
    </div>
      </div>


    </div>
  </main>
  </body>
</html>

