<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PPG </title>

    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/side-bar.css">
    <link rel="stylesheet" href="styles/workspace.css">
    <link rel="stylesheet" href="styles/top-bar.css">
    <link rel="stylesheet" href="styles/manage-skills.css">
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="manage-skills.js" defer></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
      integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <main>
      <div class="side-bar">
        <img class="logo" src="styles/logo.webp" alt="logo">
        <button onclick="window.location.href='index.html';">&#9733; Dashboard</button>
        <button-active onclick="window.location.href='manage-skills.html';">&#9733; Manage skills</button-active>
        <button onclick="window.location.href='my-account.html';">&#9733; My account</button>
        <button onclick="window.location.href='growth.html';">&#9733; Growth</button>
      </div>

      <div class="workspace-body">
        <div class="user-bar">
          <img class="user-bar-logo" src="styles/logo.webp" alt="user-logo">

          <div class="dropdown">
            <name-surname> Name Surname ></name-surname>
            <div class="dropdown-content">
              <img class="user-bar-logo" src="styles/logo.webp" alt="logo" style="border-radius: 50%; background-color:transparent;">
              <input type="text" placeholder="Login ID" class="login-info">
              <input type="text" placeholder="password" class="login-info">
              <button>Login</button>
              <button>Forgot password</button>
            </div>
          </div>
        </div>

      
        <div class="workspace" id="workspace">
          <manage-skills>
            <div class="manage-skills">
              <content>
                <label>
                  &#9733; Register skill
                </label>
                <form>
                  <select name="pets" id="pet-select">
                    <option value="" disabled selected>Select Skill</option>
                    <option v-for="skill in skills" :value="skill.skill_id">{{skill.name}}</option>
                  </select>

                  <select name="pets" id="pet-select">
                    <option value="0" disabled selected>Choose Lvl</option>
                    <option value="1">Lvl 1</option>
                    <option value="2">Lvl 2</option>
                    <option value="3">Lvl 3</option>
                    <option value="4">Lvl 4</option>
                  </select>
                  <div class="label-input">
                    <input type="checkbox" id="checkamark1" name="checkamark1" value="false">
                    <checkbox-label for="vehicle1"> I confirm that i'm on that level off the skill</checkbox-label><br>
                  </div>
                  <button>confirmm</button>
                </form>
                
              </content>

              <content>
                <label>
                  &#9733; Change Lvl
                </label>

                <form>
                  <select v-model="selectedChangeSkill" name="changeSkill" id="changeSkill">
                    <option value="" disabled selected>Select Skill</option>
                    <option v-for="skill in employeeSkills" :value="skill.skill_id">{{skill.name}}</option>
                  </select>

                  <select name="changeSkillLvl" id="changeSkillLvl">
                    <option disabled selected v-for="option in GetOptionsChangeSkillLvl" :value="option.value">{{option.message1}}</option>
                    <option value="1">Change to Lvl 1</option>
                    <option value="2">Change to Lvl 2</option>
                    <option value="3">Change to Lvl 3</option>
                    <option value="4">Change to Lvl 4</option>
                  </select>

                  <div class="label-input">
                    <input type="checkbox" id="checkamark1" name="checkamark1" value="false">
                    <checkbox-label for="vehicle1"> I confirm that i'm on that level off the skill</checkbox-label><br>
                  </div>
                  <button>confirmm</button>
                </form>
              
              </content>
              <content>
                <label>
                  &#9733; Resign of skill
                </label>

                <form>
                  <select name="resignSkill" id="resignSkill">
                    <option value="" disabled selected>Select Skill</option>
                    <option v-for="skill in employeeSkills" :value="skill.skill_id">{{skill.name}}</option>
                  </select>

                  <div class="label-input">
                    <input type="checkbox" id="checkamark1" name="checkamark1" value="false">
                    <checkbox-label for="vehicle1">Confirm</checkbox-label><br>
                  </div>
                  <button>confirmm</button>
                </form>

              </content>
            </div>
          </manage-skills>
        </div>
      </div>
    </main>
  </body>
</html>