<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PPG </title>

    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/side-bar.css">
    <link rel="stylesheet" href="styles/workspace.css">
    <link rel="stylesheet" href="styles/top-bar.css">
    <link rel="stylesheet" href="styles/my-account.css">
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="list-of-skills.js" defer></script>
  </head>

  <body>
    <main>
      <div class="side-bar">
        <img class="logo" src="styles/logo.webp" alt="logo">
        <button onclick="window.location.href='index.html';">&#9733; Dashboard</button>
        <button onclick="window.location.href='manage-skills.html';">&#9733; Manage skills</button>
        <button-active onclick="window.location.href='my-account.html';">&#9733; My account</button-active>
        <button onclick="window.location.href='growth.html';">&#9733; Growth</button>
      </div>

      <div class="workspace-body">
        <div class="user-bar">
          <img class="user-bar-logo" src="styles/logo.webp" alt="user-logo">

          <div class="dropdown">
            <name-surname> Name Surname ></name-surname>
            <div class="dropdown-content">
              <img class="user-bar-logo" src="styles/logo.webp" alt="logo" style="border-radius: 50%; background-color:transparent;">
              <input type="text" placeholder="Login ID" class="login-info">
              <input type="text" placeholder="password" class="login-info">
              <button>Login</button>
              <button>Forgot password</button>
            </div>
        </div>
      </div>

      
      <my-account>
          <user-info>
              <img class="logo" src="styles/logo.webp" alt="logo">
              <text>Name Surname (233133)</text>
              <text> name.surname@gmail.com</text>
              <button>Upload photo</button>
              <button>Change password</button>
              <absence-button>Report absence</absence-button>
          </user-info>
          
          <list-of-skills style="display:flex; flex:1; flex-direction:column; max-height: 80vh;" id="list-of-skills">
            <p>&#9733; All my skills</p>
            <skills style="flex:1; background-color: white; border-color:gray; max-height: 80%; max-width: 95%; border-radius:5px; padding-left:20px; overflow-y: scroll; position:relative;">
                <p style="position:sticky; top:0%; left:5%; background-color:white; padding-top:5px;">Name                         LVl<br>
                _________________</p>
                <skill style="display:block; background-color: white;" v-for="(skill,index) in skills" v-on:click="removeValue(skills, lvl,index)"> {{skill}} --> {{lvl[index]}}</skill>
                <input type="text" v-model="propValue" v-on:keyup.enter="addValue(skills, propValue)">
                <input type="text" v-model="newPropValue" v-on:keyup.enter="addValue(lvl, newPropValue)">
            </skills>
          </list-of-skills>
      </my-account>
    </main>
  </body>
</html>

