<h1>Register</h1>
<form action="/register" method="POST">
    <div>
        <label for="login">login</label>
        <input type="login" id="login" name="login" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit"> register
    </button>
    </form>