<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PPG </title>

    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/side-bar.css">
    <link rel="stylesheet" href="styles/workspace.css">
    <link rel="stylesheet" href="styles/top-bar.css">
    <link rel="stylesheet" href="styles/manage-skills.css">
        <script src="https://unpkg.com/vue@next" defer></script>
    <script src="side-bar.js" defer></script>
    <script src="top-bar.js" defer></script>
        <script src="manage-skills.js" defer></script>


    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
      integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
      crossorigin="anonymous"
    ></script>
    <script>
      function testSend() {


        const formData = {
          first_name : 'Jan',
          last_name : 'Kow',
          email : 'jan@kow.com',
          phone : '789456132',
          admin_right : 0,
          manager_id : 5,
          change_password : 1,
          skills : [
            {skills_id : 1,level:1},
            {skills_id : 2,level:2},
            {skills_id : 3,level:3},
          ]
        };
        axios.put('/user/20', formData)
          .then(response => {
            if (response.status == '200') {
              alert("Absence reported succesfully");
              console.log(response.data)
            } else {
              alert("Form submission failed.");
            }
          })
          .catch(error => {
            console.error(error);
            alert("An error occurred during form submission.");
          });
      }
    </script>
  </head>

  <body>
    <main>
             <div id="side-bar">
        <div v-if="menuSize()" class="side-bar">

        <img class="logo" src="styles/logo.webp" alt="logo" />
        <button v-for="(label,index) in labels" v-on:click="changeURL(index)" v-bind:style="checkActiveURL(index)"
          >{{label}}
        </button >
        <button onclick="window.location.href='register.html';">
          &#9733; Add worker
        </button>
                <button v-if="isShown===1" onclick="window.location.href='admin';">
          &#9733; Admin
        </button>
        </div>

        <div v-else class="side-bar2">
          <img src="styles/logo.webp" alt="logo"/>
          <img v-for="(label,index) in labels" v-bind:src="getLogo(index)" alt="icon" v-on:click="changeURL(index)" v-bind:style="checkActiveURL(index)"/>
        </div>
      </div>

      <div class="workspace-body">
        <div class="user-bar" id="top-bar">
          <img class="user-bar-logo" src="styles/avatar.jpg" alt="avatar" />
          <div class="dropdown">
            <name-surname v-for="employee in employeeData"> {{employee.first_name}} {{employee.second_name}}></name-surname>
           <div class="dropdown-content">
              <img
                class="user-bar-logo"
                src="styles/avatar.jpg"
                alt="avatar"
                style="border-radius: 50%; background-color: transparent"
              />
               <form action="/logout?_method=DELETE" method="POST">
                  <button type="submit"> LOGOUT </button>
               </form>
              <button>Forgot password</button>
            </div>
          </div>
        </div>




          
    <div class="workspace" >
      
      <button onclick="testSend()">test</button>
        
    </div>
      </div>


    </div>
  </main>
  </body>
</html>