<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PPG </title>

    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/side-bar.css">
    <link rel="stylesheet" href="styles/workspace.css">
    <link rel="stylesheet" href="styles/top-bar.css">
    <link rel="stylesheet" href="styles/admin.css">

    <script src="vue@next" defer></script>
    <script src="side-bar.js" defer></script>
    <script src="top-bar.js" defer></script>
    <script src="admin.js" defer></script>
    <script src="axios.min.js"></script>
  </head>

  <body>
    <main>
        <div id="side-bar">
        <div v-if="menuSize()" class="side-bar">

        <img class="logo" src="styles/logo.webp" alt="logo" />
        <button style="max-height: 30px;" v-for="(label,index) in labels" v-on:click="changeURL(index)" v-bind:style="checkActiveURL(index)"
          ><img style="height: 20px" :src="getLogo(index)" alt="icon">
          {{label}}
        </button >
        </div>

        <div v-else class="side-bar2">
          <img src="styles/logo.webp" alt="logo"/>
          <img v-for="(label,index) in labels" v-bind:src="getLogo(index)" alt="icon" v-on:click="changeURL(index)" v-bind:style="checkActiveURL(index)"/>
        </div>
      </div>

      <div class="workspace-body">
        <div class="user-bar" id="top-bar">
                <div class="session">
            Session Time:
            <p id="demo">
            <script>
              var countDownDate = new Date().getTime() + 900002;
              var x = setInterval(function() {
                var now = new Date().getTime();
                var distance = countDownDate - now;
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                document.getElementById("demo").innerHTML = minutes + "m " + seconds + "s ";
                if (distance < 0) {
                  clearInterval(x);
                  document.getElementById("demo").innerHTML = "EXPIRED";
                }
                }, 1000);
            </script>
            </p> 
            <img src="styles/refresh.png" alt="refresh" class="refresh" onclick="window.location.reload();">
            </div>
          <img class="user-bar-logo" src="styles/avatar.jpg" alt="avatar" />
          <div class="dropdown">
            <name-surname v-for="employee in employeeData">
              {{employee.first_name}} {{employee.second_name}}></name-surname
            >
           <div class="dropdown-content">
              <img
                class="user-bar-logo"
                src="styles/avatar.jpg"
                alt="avatar"
                style="border-radius: 50%; background-color: transparent"
              />
               <form action="/logout?_method=DELETE" method="POST">
                  <button type="submit"> LOGOUT </button>
               </form>
              <button>Forgot password</button>
            </div>
          </div>
        </div>


      <div class="workspace" id="admin">

        <div id="skillsButtons" class="button-container">
          <button @click="isPopupAddSkillOpen = true">Add Skill</button>
          <button @click="isPopupDeleteSkillOpen = true">Delete Skill</button>
          <button @click="isPopupEditSkillOpen = true">Edit Skill</button>
        </div>

        <div id="usersButtons" class="button-container">
          <button @click="isPopupAddUserOpen = true">Add User</button>
          <button @click="isPopupDeleteUserOpen = true">Delete User</button>
          <button @click="isPopupEditUserOpen = true">Edit User</button>
          <button @click="isPopupViewUserOpen = true">View User</button>
        </div>

        <div id="processButtons" class="button-container">
          <button @click="isPopupAddProcessOpen = true">Add Process</button>
          <button @click="isPopupDeleteProcessOpen = true">Delete Process</button>
          <button @click="isPopupEditProcessOpen = true">Edit Process</button>
        </div>
        

      <div class="popup" v-if="isPopupAddSkillOpen">
        <p class="popup-title">Add Skill</p>
        <form onsubmit="submitAddSkill(event)" id="addSkillForm">
          <label>Skill name:
            <input type="text" id="addSkillName" name="skill_name" required>
          </label>
          <button type="submit">Create</button>
          <button class="close-button" @click="isPopupAddSkillOpen = false">Close</button>
        </form> 
      </div>
      
      <div class="popup" v-if="isPopupDeleteSkillOpen">
        <p class="popup-title">Delete Skill</p>
        <form onsubmit="submitDeleteSkill(event)" id="deleteSkillForm">
          <label>Skill name:
            <select name="deleteSkillSelect" id="deleteSkillSelect" required>
              <option value="" disabled selected>Select skill</option>
              <option v-for="skills in skillList" :value="skills.skill_id"> {{skills.name}} </option>
            </select>
          </label>
          <button type="submit">Delete</button>
          <button class="close-button" @click="isPopupDeleteSkillOpen = false">Close</button>
        </form> 
      </div>

      <div class="popup" v-if="isPopupEditSkillOpen">
        <p class="popup-title">Edit Skill</p>
        <form onsubmit="submitEditSkill(event)" id="editSkillForm">
          <label>Select skill:
            <select name="editSkillSelect" id="editSkillSelect" @change="editSkillOnChange($event)" required>
              <option value="" disabled selected>Select skill</option>
              <option v-for="skills in skillList" :value="skills.skill_id"> {{skills.name}} </option>
            </select>
          </label>
          <label>Skill name:
            <input type="text" id="editSkillName" name="skill_name" required>
          </label>
          <button type="submit">Submit</button>
          <button class="close-button" @click="isPopupEditSkillOpen = false">Close</button>
        </form> 
      </div>

      <div class="popup" v-if="isPopupAddProcessOpen">
        <p class="popup-title">Add Process</p>
        <form onsubmit="submitAddProcess(event)" id="addProcessForm">
          <label>Process name:
            <input type="text" id="addProcessName" name="process_name" required>
          </label>
          <button type="submit">Create</button>
          <button class="close-button" @click="isPopupAddProcessOpen = false">Close</button>
        </form> 
      </div>

      <div class="popup" v-if="isPopupDeleteProcessOpen">
        <p class="popup-title">Delete Process</p>
        <form onsubmit="submitDeleteProcess(event)" id="deleteProcessForm">
          <label>Process name:
            <select name="deleteProcessSelect" id="deleteProcessSelect" required>
              <option value="" disabled selected>Select Process</option>
              <option v-for="processs in processList" :value="processs.process_id"> {{processs.name}} </option>
            </select>
          </label>
          <button type="submit">Delete</button>
          <button class="close-button" @click="isPopupDeleteProcessOpen = false">Close</button>
        </form> 
      </div>

      <div class="popup" v-if="isPopupEditProcessOpen">
        <p class="popup-title">Edit Process</p>
        <form onsubmit="submitEditProcess(event)" id="editProcessForm">
          <label>Select Process:
            <select name="editProcessSelect" id="editProcessSelect" @change="editProcessOnChange($event)" required>
              <option value="" disabled selected>Select Process</option>
              <option v-for="processs in processList" :value="processs.process_id"> {{processs.name}} </option>
            </select>
          </label>
          <label>Process name:
            <input type="text" id="editProcessName" name="Process_name" required>
          </label>
          <label>Number of skills:
            <input type="number"  id="editSkillQuantity" name="editSkillQuantity" min="0" max="9" step="1" @change="editProcessQuantityOnChange($event)">
          </label>
          <label>Skills:
            <select v-for="index in numberSkillsInSelectedProcess" :id="'editProcessSkill' + index">
              <option :value="index <= skillsInSelectedProcessList.length ? skillsInSelectedProcessList[index - 1].skill_id : '0' " selected disabled>
                {{ index <= skillsInSelectedProcessList.length ? skillsInSelectedProcessList[index - 1].skill_name : '-' }}
              </option>
              <option v-for="skill in skillList" :value="skill.skill_id">{{ skill.name }}</option>
            </select>
          </label>                   
          <button type="submit">Submit</button>
          <button class="close-button" @click="isPopupEditProcessOpen = false">Close</button>
        </form> 
      </div>

      <div class="popup" v-if="isPopupAddUserOpen">
        <p class="popup-title">Add User</p>
        <form onsubmit="submitAddUser(event)" id="addUserForm">
          <label>First name:
            <input type="text" id="addUserFirstName" name="addUserFirstName" required>
          </label>
          <label>Last name:
            <input type="text" id="addUserLastName" name="addUserLastName" required>
          </label>
          <label>Email:
            <input type="email" id="addUserEmail" name="addUserEmail" required>
          </label>
          <label>Phone:
            <input type="tel" id="addUserPhone" name="addUserPhone" pattern="[0-9]{9}">
          </label>
          <label>Password:
            <button type="button" id="showpassword" @click="togglePasswordVisibility('addUserPassword')">Show/Hide Password</button>
            <input type="password" id="addUserPassword" name="addUserPassword">
          </label>
          <label>Manager:
            <select name="addUserManager" id="addUserManager">
              <option value="" disabled selected>Select Manager</option>
              <option v-for="manager in managersList" :value="manager.employee_id"> {{manager.first_name}} {{manager.second_name}} </option>
            </select>
          </label>
          <table>
            <tr>
              <td>Admin rights:</td>
              <td>
                <label>None
                  <input type="radio" id="addUserHaveAdmin1" name="addUserHaveAdmin" value="0" checked>
                </label>
              </td>
              <td>
                <label>Manager
                  <input type="radio" id="addUserHaveAdmin2" name="addUserHaveAdmin" value="1">
                </label>
              </td>
              <td>
                <label>Admin
                  <input type="radio" id="addUserHaveAdmin3" name="addUserHaveAdmin" value="2">
                </label>
              </td>
            </tr>
          </table>
          <table>
            <tr>
              <td>
                <label>Needs to change password:</label>
              </td>
              <td>
                <input type="checkbox" id="addUserChangePassword" name="addUserChangePassword" checked>
              </td>
            </tr>
          </table>
          <button type="submit">Create</button>
          <button class="close-button" @click="isPopupAddUserOpen = false">Close</button>
        </form> 
      </div>

      <div class="popup" v-if="isPopupDeleteUserOpen">
        <p class="popup-title">Delete User</p>
        <form onsubmit="submitDeleteUser(event)" id="deleteUserForm">
          <label>Select user:
            <select name="deleteUserSelect" id="deleteUserSelect" required>
              <option value="" disabled selected>Select User</option>
              <option v-for="user in usersList" :value="user.employee_id"> {{user.first_name}} {{user.second_name}} </option>
            </select>
          </label>
          <button type="submit">Delete</button>
          <button class="close-button" @click="isPopupDeleteUserOpen = false">Close</button>
        </form> 
      </div>

      <div class="popup" v-if="isPopupViewUserOpen">
        <p class="popup-title">View User</p>
        <form onsubmit="" id="viewUserForm">
          <label>Select user:
            <select name="viewUserSelect" id="viewUserSelect" @change="editViewUserOnChange($event)" required>
              <option value="" disabled selected>Select User</option>
              <option v-for="user in usersList" :value="user.employee_id"> {{user.first_name}} {{user.second_name}} </option>
            </select>
          </label>
          <div v-for="user in selectedUserData.employee">
            <table>
              <tr><td>First name:</td><td>{{user.first_name}}</td></tr>
              <tr><td>Second name:</td><td>{{user.second_name}}</td></tr>
              <tr><td>e-mail:</td><td>{{user.email}}</td></tr>
              <tr><td>phone:</td><td>{{user.phone}}</td></tr>
              <tr><td>manager:</td><td>{{getDisplayManagerName(user.manager_id)}}</td></tr>
              <tr><td>change password:</td><td>{{getDisplayTFValue(user.change_password)}}</td></tr>
              <tr><td>admin rights:</td><td>{{getDisplayAdminRightsValue(user.admin_rights)}}</td></tr>
            </table>
          </div>
          <p>Skills:</p>
          <table>
            <tr v-for="skill in selectedUserData.skills"><td>{{skill.skill_name}}</td><td>{{skill.level}}</td></tr>
          </table>

          <p>5 last Absences:</p>
          <table>
            <tr v-for="absence in selectedUserData.absences"><td>{{formatDate(absence.start_date)}} {{formatDate(absence.end_date)}}</td><td>{{absence.type}}</td></tr>
          </table>
          
          <button class="close-button" @click="isPopupViewUserOpen = false">Close</button>
        </form> 
      </div>

      <div class="popup" v-if="isPopupEditUserOpen">
        <p class="popup-title">Edit User</p>
        <form onsubmit="submitEditUser(event)" id="editUserForm">
          <label>Select user:
            <select name="editUserSelect" id="editUserSelect" @change="editViewUserOnChange($event)" required>
              <option value="" disabled selected>Select User</option>
              <option v-for="user in usersList" :value="user.employee_id"> {{user.first_name}} {{user.second_name}} </option>
            </select>
          </label>
          <label>Select option:
            <select name="editUserModeSelect" id="editUserModeSelect" v-model="selectedViewMode">
              <option value="" disabled selected>Select option</option>
              <option value="1">User data</option>
              <option value="2">Absences</option>
              <option value="3">Skills</option>
            </select>
            <div v-if="selectedViewMode == 1">
              <div v-for="user in selectedUserData.employee">
                <label>First name:<input type="text" id="editUserFirstName" name="editUserFirstName" :value="user.first_name" required></label>
                <label>Last name:<input type="text" id="editUserLastName" name="editUserLastName" :value="user.second_name" required></label>
                <label>Email:<input type="email" id="editUserEmail" name="editUserEmail" :value="user.email" required></label>
                <label>Phone:<input type="tel" id="editUserPhone" name="editUserPhone" pattern="[0-9]{9}" :value="user.phone"></label>
                <label>Manager:
                  <select name="editUserManager" id="editUserManager">
                    <option :value="user.manager_id" selected>current manager: {{getDisplayManagerName(user.manager_id)}}</option>
                    <option v-for="manager in managersList" :value="manager.employee_id"> {{manager.first_name}} {{manager.second_name}} </option>
                  </select>
                </label>
                <label>change password:<input type="checkbox" id="editUserChangePassword" name="editUserChangePassword" :value="user.change_password" :checked="getDisplayTFValue(user.change_password)"></label>
                <div>
                  <table>
                    <tr>
                      <td>
                        Admin rights:
                      </td>
                      <td>
                        <label>None
                          <input type="radio" id="editUserHaveAdmin1" name="editUserHaveAdmin" value="0" v-model="user.admin_rights" required>
                        </label>
                      </td>
                      <td>
                        <label>Manager
                          <input type="radio" id="editUserHaveAdmin2" name="editUserHaveAdmin" value="1" v-model="user.admin_rights">
                        </label>
                      </td>
                      <td>
                        <label>Admin
                          <input type="radio" id="editUserHaveAdmin3" name="editUserHaveAdmin" value="2" v-model="user.admin_rights">
                        </label>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div v-if="selectedViewMode == 2">
               <table>
                <tr v-for="(absence, index) in selectedUserData.absences">
                  <td>{{formatDate(absence.start_date)}} - {{formatDate(absence.end_date)}}</td>
                  <td><input type="button" value="delete" @click="DeleteAbsence(index)"></td>
                </tr>
               </table>
            </div>
            <div v-if="selectedViewMode == 3">
              <label>Number of skills:
                <input type="number" :value="numberSkillsInSelectedUser"  id="editSkillUserQuantity" name="editSkillUserQuantity" min="0" max="9" step="1" @change="editUserQuantityOnChange($event)">
              </label>
                <table>
                  <tr><th>Skill Name</th><th>level</th></tr>
                  <tr v-for="index in numberSkillsInSelectedUser">
                    <td>
                      <select :id="'editUserSkill' + index">
                        <option :value="index <= skillsInSelectedUserList.length ? skillsInSelectedUserList[index - 1].skills_id : '0' " selected disabled>
                          {{ index <= skillsInSelectedUserList.length ? skillsInSelectedUserList[index - 1].skill_name : '-' }}
                        </option>
                        <option v-for="skill in skillList" :value="skill.skill_id">{{ skill.name }}</option>
                      </select>
                    </td>
                    <td>
                      <select :id="'editUserSkillLevel' + index">
                        <option :value="index <= skillsInSelectedUserList.length ? skillsInSelectedUserList[index - 1].level : '0' " selected disabled>
                          {{ index <= skillsInSelectedUserList.length ? skillsInSelectedUserList[index - 1].level : '0' }}
                        </option>
                        <option v-for="index2 in 5" :value="index2-1">{{ index2-1 }}</option>
                      </select>
                    </td>
                  </tr>
                </table>        
            </div>
          </label>
          <button type="submit">Submit</button>
          <button class="close-button" @click="isPopupEditUserOpen = false">Close</button>
        </form> 
      </div>

    </div>
  </main>
  </body>
</html>