<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PPG </title>

    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/side-bar.css">
    <link rel="stylesheet" href="styles/workspace.css">
    <link rel="stylesheet" href="styles/top-bar.css">
    <link rel="stylesheet" href="styles/admin.css">

    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="side-bar.js" defer></script>
    <script src="top-bar.js" defer></script>
    <script src="admin.js" defer></script>


    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
      integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <main>
        <div id="side-bar">
        <div v-if="menuSize()" class="side-bar">

        <img class="logo" src="styles/logo.webp" alt="logo" />
        <button v-for="(label,index) in labels" v-on:click="changeURL(index)" v-bind:style="checkActiveURL(index)"
          >{{label}}
        </button >
        <button onclick="window.location.href='register.html';">
          &#9733; Add worker
        </button>
                <button v-if="isShown===1" onclick="window.location.href='admin';">
          &#9733; Admin
        </button>
        </div>

        <div v-else class="side-bar2">
          <img src="styles/logo.webp" alt="logo"/>
          <img v-for="(label,index) in labels" v-bind:src="getLogo(index)" alt="icon" v-on:click="changeURL(index)" v-bind:style="checkActiveURL(index)"/>
        </div>
      </div>

      <div class="workspace-body"  id="admin">
        <div class="user-bar" id="top-bar">
          <img class="user-bar-logo" src="styles/avatar.jpg" alt="avatar" />
          <div class="dropdown">
            <name-surname v-for="employee in employeeData"> {{employee.first_name}} {{employee.second_name}}></name-surname>
           <div class="dropdown-content">
              <img
                class="user-bar-logo"
                src="styles/avatar.jpg"
                alt="avatar"
                style="border-radius: 50%; background-color: transparent"
              />
               <form action="/logout?_method=DELETE" method="POST">
                  <button type="submit"> LOGOUT </button>
               </form>
              <button>Forgot password</button>
            </div>
          </div>
        </div>




          
      <div class="workspace">

        <div id="skillsButtons" class="button-container">
          <button @click="isPopupAddSkillOpen = true">Add Skill</button>
          <button @click="isPopupDeleteSkillOpen = true">Delete Skill</button>
          <button @click="isPopupEditSkillOpen = true">Edit Skill</button>
        </div>
        
      </div>

      <div class="popup" v-if="isPopupAddSkillOpen">
        <p class="popup-title">Add Skill</p>
        <form onsubmit="submitAddSkill(event)" id="addSkillForm">
          <label>Skill name:
            <input type="text" id="addSkillName" name="skill_name" required>
          </label>
          <button type="submit">Create</button>
          <button class="close-button" @click="isPopupAddSkillOpen = false">Close</button>
        </form> 
      </div>
      
      <div class="popup" v-if="isPopupDeleteSkillOpen">
        <p class="popup-title">Delete Skill</p>
        <form onsubmit="submitDeleteSkill(event)" id="deleteSkillForm">
          <label>Skill name:
            <select name="deleteSkillSelect" id="deleteSkillSelect" required>
              <option value="" disabled selected>Select skill</option>
              <option v-for="skills in skillList" :value="skills.skill_id"> {{skills.name}} </option>
            </select>
          </label>
          <button type="submit">Delete</button>
          <button class="close-button" @click="isPopupDeleteSkillOpen = false">Close</button>
        </form> 
      </div>

      <div class="popup" v-if="isPopupEditSkillOpen">
        <p class="popup-title">Edit Skill</p>
        <form onsubmit="submitEditSkill(event)" id="editSkillForm">
          <label>Select skill:
            <select name="editSkillSelect" id="editSkillSelect" @change="editSkillOnChange($event)" required>
              <option value="" disabled selected>Select skill</option>
              <option v-for="skills in skillList" :value="skills.skill_id"> {{skills.name}} </option>
            </select>
          </label>
          <label>Skill name:
            <input type="text" id="editSkillName" name="skill_name" required>
          </label>
          <button type="submit">Submit</button>
          <button class="close-button" @click="isPopupEditSkillOpen = false">Close</button>
        </form> 
      </div>

    </div>
  </main>
  </body>
</html>