<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>PPG</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="styles/styles.css" />
    <link rel="stylesheet" href="styles/side-bar.css" />
    <link rel="stylesheet" href="styles/workspace.css" />
    <link rel="stylesheet" href="styles/top-bar.css" />
    <link rel="stylesheet" href="styles/growth.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="growth.js" defer></script>
    <script src="side-bar.js" defer></script>
    <script src="top-bar.js" defer></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
      integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <main>
           <div id="side-bar">
        <div v-if="menuSize()" class="side-bar">

        <img class="logo" src="styles/logo.webp" alt="logo" />
                
        <button style="max-height: 30px;" v-for="(label,index) in labels" v-on:click="changeURL(index)" v-bind:style="checkActiveURL(index)"
          ><img style="height: 20px" :src="getLogo(index)" alt="icon">
          {{label}}
        </button >
        
        </div>

        <div v-else class="side-bar2">
          <img src="styles/logo.webp" alt="logo"/>
          <img v-for="(label,index) in labels" v-bind:src="getLogo(index)" alt="icon" v-on:click="changeURL(index)" v-bind:style="checkActiveURL(index)"/>
        </div>
      </div>

      <div class="workspace-body">
        <div class="user-bar" id="top-bar">
                   <div class="session">
            Session Time:
            <p id="demo">
            <script>
              var countDownDate = new Date().getTime() + 900002;
              var x = setInterval(function() {
                var now = new Date().getTime();
                var distance = countDownDate - now;
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                document.getElementById("demo").innerHTML = minutes + "m " + seconds + "s ";
                if (distance < 0) {
                  clearInterval(x);
                  document.getElementById("demo").innerHTML = "EXPIRED";
                }
                }, 1000);
            </script>
            </p> 
            <img src="styles/refresh.png" alt="refresh" class="refresh" onclick="window.location.reload();">
            </div>
          <img class="user-bar-logo" src="styles/avatar.jpg" alt="avatar" />
          <div class="dropdown">
            <name-surname v-for="employee in employeeData">
              {{employee.first_name}} {{employee.second_name}}></name-surname
            >
           <div class="dropdown-content">
              <img
                class="user-bar-logo"
                src="styles/avatar.jpg"
                alt="avatar"
                style="border-radius: 50%; background-color: transparent"
              />
               <form action="/logout?_method=DELETE" method="POST">
                  <button type="submit"> LOGOUT </button>
               </form>
              <button>Forgot password</button>
            </div>
          </div>
        </div>

        <div class="workspace" id="growth">
          <div class="growth">
            <left-side>
              <button v-on:click="isPopupOpen = true">Schedule Growth</button>
              <div class="popup" v-if="isPopupOpen">
                <p class="popup-title">Schedule Growth</p>
                                  <select name="skills" id="skills" v-model="formSkill">
                    <option value="" disabled selected>Skill</option>
                    <option
                      v-for="skill in skills.data"
                      v-bind:value="skill.skill_id"
                    >
                      {{skill.name}}
                    </option>
                  </select>
                                    <select name="level" id="level"  v-model="formLevel"required>
                    <option value="" disabled selected>Level</option>
                    <option
                      v-for="level in levels"
                      :value="level"
                    >
                      {{level}}
                    </option>
                  </select>
                  <label
                    >To:
                    <input
                      type="date"
                      id="growth-end"
                      name="end_date"
                      required
                      v-model="formDate"
                    />
                  </label>
                  <button v-on:click="putData()" @click="isPopupOpen = false">Report</button>
                  <button @click="isPopupOpen = false">
                    Close
                  </button>
              </div>
              <button v-on:click="isPopupOpenDel= true">Delete Growth</button>
               <div class="popup" v-if="isPopupOpenDel">
                <p class="popup-title">del</p>
                                  <select name="growth" id="growth" v-model="delData">
                    <option value="" disabled selected>Growth</option>
                    <option
                      v-for="grow in growth.data"
                    >
                      {{grow.growth_id}}
                    </option>
                  </select>
                  <button v-on:click="deleteData()" @click="isPopupOpenDel= false">Report</button>
                  <button @click="isPopupOpenDel= false">
                    Close
                  </button>
              </div>
              <button v-if="userType > 0" v-on:click="getRaport()">Generate Raport</button>
            </left-side>
            <right-side>
                            <div class="bottom-bar">
                <div v-for="q in qInTable">{{q}}</div>
              </div>
              <div
                v-for="(object, index) in growth.data"
              >
                <div

                  class="bars"
                  v-bind:style="barSize(index)"
                >{{object.skill_name}}
                  {{object.level}}
                </div>
              </div>

            </right-side>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
