<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>PPG</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="styles/styles.css" />
    <link rel="stylesheet" href="styles/side-bar.css" />
    <link rel="stylesheet" href="styles/workspace.css" />
    <link rel="stylesheet" href="styles/top-bar.css" />
    <link rel="stylesheet" href="styles/table.css" />
    <script src="vue@next" defer></script>
    <script src="workspace-table.js" defer></script>
    <script src="side-bar.js" defer></script>
    <script src="top-bar.js" defer></script>
    <script src="axios.min.js"></script>
  </head>

  <body>
    <main>
      <div id="side-bar">
        <div v-if="menuSize()" class="side-bar">

        <img class="logo" src="styles/logo.webp" alt="logo" />
                
        <button style="max-height: 30px;" v-for="(label,index) in labels" v-on:click="changeURL(index)" v-bind:style="checkActiveURL(index)"
          ><img style="height: 20px" :src="getLogo(index)" alt="icon">
          {{label}}
        </button >
        
        </div>

        <div v-else class="side-bar2">
          <img src="styles/logo.webp" alt="logo"/>
          <img v-for="(label,index) in labels" v-bind:src="getLogo(index)" alt="icon" v-on:click="changeURL(index)" v-bind:style="checkActiveURL(index)"/>
        </div>
      </div>

      <div class="workspace-body">
        <div class="user-bar" id="top-bar">
          <div class="session">
            Session Time:
            <p id="demo">
            <script>
              var countDownDate = new Date().getTime() + 900002;
              var x = setInterval(function() {
                var now = new Date().getTime();
                var distance = countDownDate - now;
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                document.getElementById("demo").innerHTML = minutes + "m " + seconds + "s ";
                if (distance < 0) {
                  clearInterval(x);
                  document.getElementById("demo").innerHTML = "EXPIRED";
                }
                }, 1000);
            </script>
            </p> 
            <img src="styles/refresh.png" alt="refresh" class="refresh" onclick="window.location.reload();">
            </div>
          <img class="user-bar-logo" src="styles/avatar.jpg" alt="avatar" />
          <div class="dropdown">
            <name-surname v-for="employee in employeeData"> {{employee.first_name}} {{employee.second_name}}></name-surname>
            <div class="dropdown-content">
              <img
                class="user-bar-logo"
                src="styles/avatar.jpg"
                alt="avatar"
                style="border-radius: 50%; background-color: transparent"
              />
               <form action="/logout?_method=DELETE" method="POST">
                  <button type="submit"> LOGOUT </button>
               </form>
              <button>Forgot password</button>
            </div>
          </div>
        </div>
        <div class="workspace" id="workspace-table">
          <bar>
            <div class="dropdown">
              <button>> Person</button>
              <div class="dropdown-content-workspace">
                <button v-if="conditions.length===0">
                  Add new condition and Press Enter
                </button>
                <button
                  v-else
                  v-for="(condition, index) in conditions"
                  v-on:click="removeCondition(conditions,index)"
                  v-on:key="condition"
                >
                  {{condition }}
                </button>
                <input
                  style="width: 90%; align-self: center"
                  type="text"
                  v-model="newCondition"
                  v-on:keyup.enter="addCondition"
                />
              </div>
            </div>

            <div class="dropdown">
              <button>> Skill</button>
              <div class="dropdown-content-workspace">
                <button v-if="skillsConditions.length===0">
                  Add new condition
                </button>
                <button
                  v-else
                  v-for="(skills, skillsIndex) in skillsConditions"
                  v-on:click="removeCondition(skillsConditions,skillsIndex)"
                  v-on:key="skill"
                >
                  {{ skills.name }}
                </button>
                <select
                  name="skill"
                  id="skill-select"
                  style="width: 100%"
                  v-model="newSkillsCondition"
                >
                  <option value="Select Skill">Select Skill</option>
                  <option v-for="skill in skills.data" v-model="newSkillsCondition">
                    {{skill.name}}
                  </option>
                </select>
                <button v-on:click="addSkillsCondition(newSkillsCondition)">Accept</button>
              </div>
            </div>

            <div class="dropdown">
              
              
              <button> Process</button>
              <div class="dropdown-content-workspace">
                <select
                  name="process"
                  id="process-select"
                  style="width: 100%"
                  v-model="checkProcess"
                >
                  <option value="Select Process">Select Process</option>
                  <option v-for="skill in processes.data" v-bind:value="skill.process_id">
                    {{skill.name}} {{skill.process_id}}
                  </option>
                </select>
                <button v-on:click="getProcess">> Process</button>
              </div>
            </div>

            <div class="dropdown">      
              <button v-on:click="isPopupOpen = true">Change Date</button>
                      <div class="popup" v-if="isPopupOpen">
          <p class="popup-title">Change Date</p>
            <label>From:
              <input type="date" id="dates" v-model="newDate" name="start_date" @change="getNewUser" required>
            </label>
            <button v-on:click="getNewUser"  @click="isPopupOpen = false">Report</button>
            <button class="close-button" @click="isPopupOpen = false">Close</button>
          </div>
          </div>

          
          </bar>
          

          <table>

            <div>
              <li>
              <h2 v-for="(date,index) in dates" style="flex:1; font-size:12px;">{{date}}
                <img src="styles/warning.png" alt="logo" v-if="riskTable[index]<2" style="height:80%;">
              </h2>

              </li>
              <li v-for="(person,index) in employeesData.data" style="position: relative; background-color: lightgray;;"
      >
              <div v-if="(skillsConditions.length!==0&&conditions.length!==0&&(compareObjects(person.skills, skillsConditions))&&(compareNames(person.first_name, conditions)||compareNames(person.second_name, conditions)))||(skillsConditions.length!==0&&conditions.length===0&&(compareObjects(person.skills, skillsConditions)))||(skillsConditions.length===0&&conditions.length!==0&&((compareNames(person.first_name, conditions)||compareNames(person.second_name, conditions))))" style="display:flex; flex-direction: row; flex:1;">
              <h2 class="dropdown" style="position: unset; overflow: hidden;">{{person.first_name}} {{person.second_name}}
              
              <div style="position:absolute;" class="dropdown-content-workspace">
                              <a style="font-size:15px;
                                        display:flex;
                                        flex-direction: row;
                                                                                color:white;
                                        background-color: rgb(63, 162, 214);" v-for="skill in person.skills">{{skill.skill_name}}</a>
            </div>
              <h2 style="flex:1;" v-for="date in person.absences">{{date ? "Out of work":""}}                 <img v-if="!date" v-bind:src="compareProcess(person.employee_id, checkProcessTable.data)" alt="logo" style="height:50%; align-self: auto;"/></h2>
            </div>
            </li>
            </div>


          <table>
            <li v-for="(person,index) in employeesData.data" style="position: relative">
              <h2 class="dropdown" style="position: unset; overflow: hidden;">
                {{person.first_name}} {{person.second_name}}

              <div style="position:absolute" class="dropdown-content-workspace">
                              <a style="font-size:15px;
                                        display:flex;
                                        flex-direction: row;
                                        color:white;
                                        border-radius: 1px;
                                        background-color: rgb(63, 162, 214);" v-for="skill in person.skills">{{skill.skill_name}}</a>
            </div>
              </h2>
              <h2 v-for="date in person.absences">
                {{date ? "Out of work":""}}
                <img v-if="!date" v-bind:src="compareProcess(person.employee_id, checkProcessTable.data)" alt="logo" style="height:50%; align-self: auto;"/>
              </h2>
            </li>
          </table>
        </div>
      </div>
    </main>
  </body>
</html>
