<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PPG </title>

    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/side-bar.css">
    <link rel="stylesheet" href="styles/workspace.css">
    <link rel="stylesheet" href="styles/top-bar.css">
    <link rel="stylesheet" href="styles/my-account.css">
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="list-of-skills.js" defer></script>
        <script src="top-bar.js" defer></script>
               <script src="side-bar.js" defer></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
      integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
      crossorigin="anonymous"
    ></script>
    <script>
      function submitForm(event) {
        event.preventDefault();

        const formData = {
          absence_type: event.target.elements['absence-type'].value,
          start_date: event.target.elements['absence-start'].value,
          end_date: event.target.elements['absence-end'].value
        };
        axios.post('/my-absences', formData)
          .then(response => {
            if (response.status == '201') {
              alert("Absence reported succesfully");
            } else {
              alert("Form submission failed.");
            }
          })
          .catch(error => {
            console.error(error);
            alert("An error occurred during form submission.");
          });
      }
    </script>
  </head>

  <body>
    <main>
          <div id="side-bar">
        <div v-if="menuSize()" class="side-bar">

        <img class="logo" src="styles/logo.webp" alt="logo" />
                <button v-if="isShown>1" onclick="window.location.href='/';">
          &#9733;Dashboard </button>
        <button v-for="(label,index) in labels" v-on:click="changeURL(index)" v-bind:style="checkActiveURL(index)"
          >{{label}}
        </button >
        <button v-if="isShown>0" onclick="window.location.href='admin';">
          &#9733; Admin
        </button>
        </div>
        <div v-else class="side-bar2">
          <img src="styles/logo.webp" alt="logo"/>
          <img v-for="(label,index) in labels" v-bind:src="getLogo(index)" alt="icon" v-on:click="changeURL(index)" v-bind:style="checkActiveURL(index)"/>
        </div>
      </div>

      <div class="workspace-body">
        <div class="user-bar" id="top-bar">
          <div>
            Czas sesji:
            <p id="demo">
            <script>
              var countDownDate = new Date().getTime() + 900002;
              var x = setInterval(function() {
                var now = new Date().getTime();
                var distance = countDownDate - now;
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                document.getElementById("demo").innerHTML = minutes + "m " + seconds + "s ";
                if (distance < 0) {
                  clearInterval(x);
                  document.getElementById("demo").innerHTML = "EXPIRED";
                }
                }, 1000);
            </script>
            </p> 
            <button onclick="window.location.reload();">Odśwież</button>
            </div>
          <img class="user-bar-logo" src="styles/avatar.jpg" alt="avatar" />
          <div class="dropdown">
            <name-surname v-for="employee in employeeData"> {{employee.first_name}} {{employee.second_name}}></name-surname>
           <div class="dropdown-content">
              <img
                class="user-bar-logo"
                src="styles/avatar.jpg"
                alt="avatar"
                style="border-radius: 50%; background-color: transparent"
              />
               <form action="/logout?_method=DELETE" method="POST">
                  <button type="submit"> LOGOUT </button>
               </form>
              <button>Forgot password</button>
            </div>
          </div>
        </div>

      
      <my-account  id="list-of-skills">

        <div class="popup" v-if="isPopupOpen">
          <p class="popup-title">Report Absence</p>
          <form action="/growth-skill" method="post" onsubmit="submitForm(event)">
            <label>From:
              <input type="date" id="absence-start" name="start_date" required>
            </label>
            <label>To:
              <input type="date" id="absence-end" name="end_date" required>
            </label>
            <select name="absence_type" id="absence-type" required>
              <option value="" disabled selected>Type of absence</option>
              <option v-for="absenceType in absencesTypes" :value="absenceType.absencetype_id">{{absenceType.name}}</option>
            </select>
            <button type="submit">Report</button>
            <button class="close-button" @click="isPopupOpen = false">Close</button>
          </form>
          
        </div>        

          <div id="user-info"  v-for="employee in employeeData">
              <img class="logo" src="styles/avatar.jpg" alt="logo">
              <text>
                {{ employee.first_name }} {{ employee.second_name }} ({{employee.employee_id}})
              </text>
              <text> {{ employee.email }} </text>
              <button>Upload photo</button>
              <button>Change password</button>
              <button class="absence-button" @click="isPopupOpen = true">Report absence</button>
          </div>
          
          <list-of-skills style="display:flex; flex:1; flex-direction:column; max-height: 80vh;">
            <p>&#9733; All my skills</p>
            <div id ="skills" style="flex:1; background-color: white; border-color:gray; max-height: 80%; max-width: 95%; border-radius:5px; padding-left:20px; overflow-y: scroll; position:relative;">
                <table class="table-skills">
                  <tr>
                    <th><h1>Name</h1></th>
                    <th><h1>Lvl</h1></th>
                  </tr>
                  <tr v-for="skill in employeeSkills">
                    <td>
                      {{skill.name}}
                    </td>
                    <td>
                      {{skill.level}}
                    </td>
                  </tr>
                  
                </table>
                <!-- <p style="position:sticky; top:0%; left:5%; background-color:white; padding-top:5px;">Name                         Lvl<br>_________________</p>
                <skill style="display:block; background-color: white;" v-for="(skill,index) in skills" v-on:click="removeValue(skills, lvl,index)"> {{skill}} -- {{lvl[index]}}</skill>
                <input type="text" v-model="propValue" v-on:keyup.enter="addValue(skills, propValue)">
                <input type="text" v-model="newPropValue" v-on:keyup.enter="addValue(lvl, newPropValue)"> -->
              </div>
          </list-of-skills>
      </my-account>
    </main>
  </body>
</html>

