.growth {
  background-color: rgb(232, 231, 241);
  flex: 1;
  margin: 0px;
  border-radius: 20px;
  padding-top: 0;
  display: flex;
  flex-direction: row;
}

.workspace .growth left-side {
  flex: 1;
  display: flex;
  max-width: 300px;
  flex-direction: column;
  align-items: center;
}

.workspace .growth left-side button {
  max-height: 40px;
  width: 90%;
  margin: 0;
  margin-top: 5%;
  padding: 0;
}

.growth right-side {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  flex: 1;
  max-height: 50%;
  align-self: auto;
  /* background-color: #e5e5f7;
opacity: 0.8;
background-image:  linear-gradient(#d2d3d5 2.1px, transparent 2.1px), linear-gradient(to right, #d2d3d5 2.1px, #e5e5f7 2.1px);
background-size: 42px 42px;
flex:1;
display: flex;
flex-direction: column; */

  background-color: transparent;
  opacity: 1;
  background-size: 25%;
  background-image: repeating-linear-gradient(
    to right,
    rgba(0, 112, 171, 1),
    rgba(0, 112, 171, 1) 4px,
    transparent 4px,
    transparent
  );
}

.bars {
  align-self: flex-start;
  color: white;
  background-color: rgb(0, 112, 171);
  margin-top: 0px;
  height: 30px;
  flex-wrap: wrap-reverse;
}

.bottom-bar {
  background-color: transparent;
  flex: 1;
  flex-direction: row;
  display: flex;
  max-height: 30px;
  font-size: 20px;
  margin-bottom: top;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: center;
}

.bottom-bar div {
  align-self: flex-end;
  flex-direction: column;
  display: flex;
  flex: 1;
  align-items: center;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 9999;
  text-align: center;
  border-radius: 5px;
}

.popup-title {
  margin-top: 0;
}

.close-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

form {
  margin-top: 20px;
  text-align: left;
}

label,
input,
select {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}
