manage-skills{
    background-color: rgb(227, 227, 227); 
    flex:1; 
    margin:5px; 
    border-radius: 20px; 
    margin-top: 20px;
    min-width: auto;
    max-height: auto;
}

.manage-skills {
  margin: 5px;
  border-radius: 20px;
  margin-top: 20px;
  overflow: auto;
  display: flex;
  min-height: 97%;
}

.manage-skills content, form {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: white;
  min-height: 100%;
  margin: 5px;
  flex-direction: column;
  border-radius: 20px;
  padding: 15px;
}

.manage-skills label {
  padding-top: 50px;
  font-size: 18px;
}

.manage-skills form select {
  font-size: 16px;
  height: 30px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 5px;
}

.manage-skills form option {
  font-size: 16px;
  height: 30px;
  padding: 5px;
}

.manage-skills form input[type="checkbox"] {
  margin-right: 5px;
}

.manage-skills form button {
  max-height: 40px;
  margin-top: 10px;
}