my-account {
  background-color: rgb(227, 227, 227);
  flex: 1;
  padding-top: 20px;
  display: flex;
  align-items: top;
  padding: 5px;
}

my-account #user-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-width: 5px;
  border-color: white;
  max-width: 400px;
  padding-top: 50px;
  margin-left: 10px;
}

#user-info text {
  align-self: center;
  font-size: 30px;
  width: 100%;
  text-align: center;
  margin-top: 15px;
}

#user-info button {
  align-self: center;
  font-size: 30px;
  background-color: rgb(0, 120, 185);
  color: white;
  border: none;
  border-radius: 15px;
  width: 90%;
  margin-top: 10px;
}

#user-info button:hover {
  background-color: rgb(131, 197, 232);
}

#user-info button:active {
  background-color: rgba(131, 197, 232, 0.6);
}

#user-info .absence-button {
  align-self: center;
  font-size: 30px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 15px;
  width: 90%;
  margin-top: 20px;
  text-align: center;
}

#user-info .absence-button:hover {
  background-color: rgb(232, 131, 131);
}

#user-info .absence-button:active {
  background-color: rgba(232, 131, 131, 0.6);
}

#user-info img {
  display: flex;
  width: 100%;
  align-self: center;
  padding: 10%;
  margin-top: 10%;
}

my-account list-of-skills {
  display: flex;
}

list-of-skills p {
  font-size: 40px;
}
list-of-skills skill {
  font-size: 30px;
}

.table-skills {
  width: 100%;
  border-collapse: collapse;
}
.table-skills th {
  font-size: 20px;
  border-bottom: 2px solid black;
}
.table-skills td {
  padding: 10px;
  text-align: center;
  font-size: 18px;
}
.table-skills tr:not(:first-child) td {
  border-top: none;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 9999;
  text-align: center;
}

.popup-title {
  margin-top: 0;
}

.close-button {
  bottom: 20px;
  right: 20px;
}

form {
  margin-top: 20px;
  text-align: left;
}

label,
input,
select {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}
