.side-bar {
    display: flex;
    flex-direction: column;
    position:sticky;
    min-height: 100vh;
    max-width: 210px;
    background: rgb(0,120,185);
    background: linear-gradient(0deg, rgba(0,120,185,1) 73%, rgba(0,212,255,1) 115%);
    max-height: auto;
    box-shadow: 3px 0 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  
  .side-bar logo{
    width: 100%;
    border-radius:50%;
    border-color:black;
    border-width: 5px;
  }
  
  .side-bar button{ 
    padding: 30px 30px;
    color: white; 
    font-size: 20px;
    background-color: transparent;
    border-color: transparent;
    cursor:pointer;
    transition: background-color 15ms;
    align-self:center;
    width:100%;
    text-align:left;
  }
  
  .side-bar button:hover { 
    background-color:  rgb(131, 197, 232);
    transition:0.2s;    
  }
  
  .side-bar button:active { 
    background-color:  rgba(131, 197, 232, 0.6);
  }
  
  .side-bar button-active {
    padding: 30px 30px;
    color: white; 
    font-size: 20px;
    background-color:rgba(131, 197, 232, 0.6);
    border-color:transparent;
    align-self:center;
    transition: background-color 15ms;
    width:72%; 
  }