table {
  display: flex;
  flex-direction: column;
  flex:1;
}

li {
  display: flex;
  flex-direction: row;
}

h2 {
  border-bottom-style: solid;
  border-right-style: solid;
  border-bottom-width: 1px;
  border-right-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.12);
  border-right-color: rgba(0, 0, 0, 0.12);
  margin:0;
  height: 18px;
  flex:1;
  font-size: 15px;
}
  

li:hover {
  transition: 0.4s;
  background-color: #e3f2fd;
  cursor: pointer;
}

